
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SecoundTrying</title>
</head>
<body>
    <h2>SecoundTrying</h2>
    <br />
    <dive id="update"></dive>
    <br />
    <p id="update2"></p>
    <div class="massage">select hands or tails</div>
    <input id="btn1" type="button" value="tails" />
    <input id="btn2" type="button" value="hands" />
    <p>plzzzz</p>

</body>
</html>
<script src="~/javalibrary/javatest2.js"></script>
